{{ form_start(form, {'attr' : {'class' : 'form-inline justify-content-sm-end'}}) }}
    {{ form_row(form.startAt, {'attr' : {'class' : 'form-control form-control-sm rounded  mr-2'}}) }}
    {{ form_row(form.endAt, {'attr' : {'class' : 'form-control form-control-sm rounded mr-2'}}) }}
    <button class="btn btn-info btn-rounded" type="submit"> Rechercher</button>
{{ form_end(form) }}