{% extends 'base.html.twig' %}
{% block title %}Setting{% endblock %}
{% block body %}
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-box">
                        <h5 class="form-header">
                           {% if category is defined %} Modification{% else %} Enregistrement {% endif %} d'une categorie
                        </h5>
                        {{ include('file_category/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}