{% extends 'base.html.twig' %}
{% block title %}Commercial{% endblock %}
{% block body %}
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-box">
                        <h5 class="form-header">
                            Modifier le profil du commercial : {% if trader %}{{ trader.fullName }}{% endif %}
                        </h5>
                        {{ include('trader/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}