{% extends 'base.html.twig' %}

{% block title %}Point de ventes - Commerciaux{% endblock %}

{% block body %}
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-box">
                        <h5 class="form-header">
                            {% if control is defined %}
                                Modification de la relation : <strong>{{ control.id }}</strong>
                            {% else %}
                                Enregistrement d'une nouvelle relation.
                            {% endif %}
                        </h5>
                        {{ include('control/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
