<div aria-hidden="true" class="onboarding-modal modal fade animated" id="onboardingFormModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="os-icon os-icon-close"></span></button>
            <div class="onboarding-content with-gradient">
                <div class="row mt-4"></div>
                <div class="onboarding-content with-gradient">
                    <h4 class="onboarding-title">
                        Ajouter un numéro master
                    </h4>
                </div>
                {{ form_start(formMaster) }}
                <div class="m-4">
                    <div class="row">
                        <div class="col-sm-6">{{ form_row(formMaster.name) }}</div>
                        <div class="col-sm-6">{{ form_row(formMaster.msisdn) }}</div>
                    </div>
                </div>
                <div class="form-buttons-w text-right compact">
                    <button aria-label="Close" class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
                    <button class="btn btn-primary" type="submit"> Valider</button>
                </div>
                {{ form_end(formMaster) }}
            </div>
        </div>
    </div>
</div>
