{{ form_start(form) }}
<fieldset class="form-group">
    <legend><span>Uploader de fichier</span></legend>
    <div class="row">
        <div class="col-sm-4">{{ form_row(form.title) }}</div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info">
                {{ form_row(form.priceLists) }}
            </div>
        </div>
    </div>

</fieldset>
<div class="form-buttons-w text-right compact">
    <button class="btn btn-primary" type="submit"> Valider</button>
</div>
{{ form_end(form) }}