{{ form_start(form) }}
<fieldset class="form-group">
    <legend><span>Zoning</span></legend>
    <div class="row">
        <div class="col-sm-12">{{ form_row(form.name) }}</div>
    </div>
</fieldset>
<div class="form-buttons-w text-right compact">
    <button class="btn btn-primary" type="submit"> Valider</button>
</div>
{{ form_end(form) }}