{% extends 'base.html.twig' %}
{% block title %}Tableau de bord périodique{% endblock %}
{% block body %}
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-actions">
                        {{ include('partials/_SearchForm.html.twig') }}
                    </div>
                    <h6 class="element-header">
                        Sales Dashboard
                    </h6>
                </div>
            </div>
        </div>
        <div class="element-box">
            <div class="table-responsive">
                {{ dump(pointofsales) }}
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Numéro flooz</th>
                        <th>Nom complet</th>
                        <th>Région</th>
                        <th>Commercial</th>
                        <th>Apport PDV</th>
                        <th>Objectif</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



