{% extends 'base.html.twig' %}
{% block title %} Erreur 301 {% endblock %}

{% block body %}
    <div class="content-box">
        <div class="big-error-w">
            <h1>
                301
            </h1>
            <h5>
                Désolé une erreur c'est produite
            </h5>
            <h4>
                Oops, redirection, respectivement permanente et temporaire ;
                <br>
                Contacter <a href="mailto:slokossou@philbdata.com">le développeur</a> .
            </h4>
            <a href="" class="btn btn-primary">Revenir en lieu sur</a>
            <a href="{{ path('homePage') }}" class="btn btn-primary">Revenir à l'acceuil</a>
        </div>
    </div>
{% endblock %}